ZXP_PROFILE=dev

SERVER_HOST=<server_ip>

MYSQL_HOST=<server_ip>
MYSQL_PORT=3306
MYSQL_DATABASE=zhongxiangpin
MYSQL_USER=<mysql_user>
MYSQL_PASSWORD=<mysql_password>
MYSQL_ROOT_PASSWORD=<mysql_root_password>

REDIS_HOST=<server_ip>
REDIS_PORT=6379
REDIS_PASSWORD=<redis_password>

SPRING_DATASOURCE_URL=jdbc:mysql://<server_ip>:3306/zhongxiangpin?useUnicode=true&characterEncoding=utf8&autoReconnect=true&zeroDateTimeBehavior=convertToNull&serverTimezone=Asia/Shanghai&useSSL=false&sslMode=DISABLED&allowPublicKeyRetrieval=true&sessionVariables=sql_mode='NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES'
SPRING_DATASOURCE_USERNAME=<mysql_user>
SPRING_DATASOURCE_PASSWORD=<mysql_password>

SPRING_REDIS_HOST=<server_ip>
SPRING_REDIS_PORT=6379
SPRING_REDIS_PASSWORD=<redis_password>

APP_SECRET=<replace_with_strong_secret>
